html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background: linear-gradient(90deg, #91e028bd, rgba(201, 186, 57, 0.966));
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(90deg, #000000, rgba(128, 255, 0, 0.541));
    position: relative;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-left: 10px;
}

.logo h1 {
    font-family: "Radley", serif;
    font-size: 35px;
    color: rgba(128, 255, 0, 0.87);
    margin: 0;
}

.nav-links {
    font-family: 'Cairo', sans-serif;
    font-size: 30px;
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease;
    position: relative;
}

.nav-links a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 0;
    z-index: -1;
    transition: opacity 0.3s;
    opacity: 0;
    border-radius: 8px;
}

.nav-links a:hover {
    color: #ffffff;
    border-color: rgb(255, 255, 255);
}

.nav-links a:hover::before {
    opacity: 0.2;
}

.auth-buttons {
    display: flex;
    gap: 5px;
}

.hero {
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 80px;
    background: none;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    padding: 40px;
    border-radius: 40px;
    position: relative;
    z-index: 1;
}

.hero-text {
    flex: 2;
    padding-left: 10px;
    color: #ffffff;
    text-align: right;
}

.hero-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.hero-logo img {
    max-width: 100%;
    height: auto;

}

.fb-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
    animation: fadeIn 2s ease-out;
}

.fb {
    font-size: 50px;
    color: #3b5998;
    margin-bottom: 10px;
    transition: color 0.3s;
    text-decoration: none;
    animation: fadeIn 2s ease-out;
}

.email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
    animation: fadeIn 2s ease-out;
}

.email {
    font-size: 50px;
    color: #3b5998;
    margin-bottom: 10px;
    margin-left: 70px;
    transition: color 0.3s;
    text-decoration: none;
    animation: fadeIn 2s ease-out;
}

.tele-container {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
    animation: fadeIn 2s ease-out;
}

.tele {
    font-size: 50px;
    color: #3b5998;
    margin-bottom: 10px;
    margin-left: 60px;
    transition: color 0.3s;
    text-decoration: none;
    animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}